[profile.default]
src = "src"
out = "out"
libs = ["lib"]
skip = ["Cashback.sol", "Elliptic Token.sol", "Impersonator Two.sol"]

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
